{
  "plugins": [
    ["babel-plugin-module-resolver", {
      "root": ["./src"],
      "alias": {
        "api": "./src/api",
        "components": "./src/components",
        "constants": "./src/constants",
        "containers": "./src/containers",
        "hooks": "./src/hooks",
        "layouts": "./src/layouts",
        "ui": "./src/ui"
      }
    }]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}